nav .nav-wrapper {
	background-color: #FCAC00;
	padding-left: 30px;
	padding-top: 20px;
	height: 100px;
}
.brand-logo{
	font-weight: 100;
	letter-spacing: 5px;
}
nav .brand-logo {
	font-size: 3.1rem;
}
.secc1{
	background-color: #FD8308;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 100px 0;
}
.card {
	padding-bottom: 30px;
}
.titulo{
	color: #1C9695;
	font-weight: 300;
}
.material-icons{
	font-size: 20px;
	color: #FD8308;
}
.padre{
	margin: 10px 0;
}
.tachado{
	text-decoration: line-through;
}
